:root {
    --principal: #6C63FF;
    --secundario: #FFC947;
    --acento: #FF6B6B;
    --claro: #F9F9F9;
    --oscuro: #2F2F2F;
}

body {
    background-color: #1783dc61;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

/* Sección Hero */
.hero-section {
    background: linear-gradient(135deg, var(--principal), var(--acento));
    min-height: 30vh;
    padding: 40px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Título y botón */
.text-acento {
    color: var(--principal);
}

.card {
    transition: transform 0.2s;
    border-radius: 12px;
}

.card:hover {
    transform: scale(1.03);
}

.card-footer {
    border-top: none;
}

/* Footer */
.footer {
    background-color: var(--principal);
    color: white;
    text-align: center;
    padding: 20px 0;
}
